body {
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/thumb\ asus.jpg);
  background-size: cover;
  background-position: center;
  opacity: 90%;
  z-index: -1;
}
.Đầu {
  text-align: center;
  color: rgb(210, 216, 191);
  padding: 5px 10px;
}
h4 {
  text-align: center;
  font-style: oblique;
  font-family: "Times New Roman", Georgia, "Times New Roman", Times, serif;
  color: white;
}
div {
  font-size: 25px;
  color: white;
}
p {
  position: absolute;
  top: 124px;
  right: 50px;
}
.information {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Times New Roman";
}
.text1 {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Times New Roman";
  padding: 40px;
}
.text2 {
  font-size: 23px;
  color: rgb(221, 130, 18);
  font-family: "Times New Roman";
}
.text3,
.text7 {
  font-size: 20px;
  color: white;
  font-family: "Times New Roman";
  max-width: 960px;
  padding: 40px;
}
.logo1,
.logo2 {
  height: 30px;
  width: auto;
  vertical-align: middle; /* Căn logo thẳng hàng với chữ */
  margin-right: 10px;
}
.text,
.text6 {
  font-size: 30px;
  color: rgb(221, 130, 18);
  font-family: "Times New Roman", Times, serif;
  vertical-align: middle; /* Căn chữ thẳng hàng với logo */
}
.text4 {
  text-align: right;
  font-size: 30px;
  padding: 40px;
  color: rgb(221, 130, 18);
  font-family: "Times New Roman", Times, serif;
}
.text5 {
  text-align: right;
  padding: 40px;
  font-size: 20px;
  max-width: 1500px;
  color: white;
  font-family: "Times New Roman";
}
.pic1,
.pic3 {
  padding: 40px;
}
.pic2 {
  float: right;
  margin-left: 25px;
  padding: 40px;
}
hr {
  clear: both;
}
.box2 {
  clear: both;
}
.boxpicture {
  display: flex; /* Bật chế độ Flexbox cho phần tử cha */
  justify-content: flex-start; /* Hoặc 'center', 'flex-start', 'space-around' */
  /* Căn chỉnh các phần tử con */
  align-items: center;
}
.boxpicture img {
  padding: 40px;
  width: 10%; /* Đảm bảo mỗi ảnh có chiều rộng bằng nhau */
  width: 400px; /* Chiều rộng mặc định cho tất cả ảnh */
  height: auto; /* Chiều cao tự động để giữ tỉ lệ */
}
